<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<div id="app" class="container-lg">
    <div class="container">
        <header class="header box">
            <h1>Reinhold´s Travel App</h1>
            <div id="" class="header-image"></div>
            <ul class="navi-list first-level-navi">
                <li class="list-items first-level-navi"><a href="index_old.html">Homepage</a></li>
                <li class="list-items first-level-navi"><a href="about.html">About</a></li>
                <li class="list-items first-level-navi"><a href="impressum.html">Impressum</a></li>
            </ul>
        </header>
        <div id="sidebar" class="box">
            <div class="flex-container">
                <ul class="navi-list second-level-navi">
                    <h3>Categories</h3>
                    <li class="list-items second-level-navi dropdown">
                        <button class="dropbtn">City Trips
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </li>
                    <li class="list-items second-level-navi dropdown">
                        <button class="dropbtn">Sports
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </li>
                    <li class="list-items second-level-navi dropdown">
                        <button class="dropbtn">Beach
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </li>
                </ul>
                <! -- Profil -->
                <div id="profile">
                    <h3>The Author</h3>
                    <a href="about.html">
                        <div id="profile-img"></div>
                    </a>
                </div>
            </div>
        </div>
        <main class="box">
            <article id="country-one" class="climbing-article">
                <div class="row col-xxl-8">
                    <div class="holder headline">
                        <h1> Reinhold´s Travel App</h1>
                    </div>
                </div>
                <div class="row col-xxl-8">
                    <div class="holder zip gy-5 col-xxl-3">
                        <label for="searchTerm">Enter city here</label>
                        <input class="form-control" type="text" id="searchTerm" placeholder="enter search term here">
                    </div>
                </div>
                <div class="row col-xxl-8">
                    <div class="holder feel gy-5 col-xxl-8">
                        <label class="gy-5" for="feelings">How are you feeling today?</label>
                        <textarea class="form-control gy-5" id="feelings" placeholder="Enter your feelings here"
                                  rows="9"
                                  cols="50"></textarea>
                        <button class="btn btn-primary gy-5" id="generate" type="submit"> Generate</button>

                    </div>
                </div>
            </article>
            <footer class="footer box">
                <div class="flex-container">
                    <div class="share-items">
                        <a href="https://www.facebook.com/Reini.Benny" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <div class="share-items">
                        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="share-items">
                        <a href="https://www.instagram.com/crazybee81/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="share-items">
                        <a href="https://www.xing.com/profile/Reinhold_Beny" target="_blank"><i class="fab fa-xing"></i></a>
                    </div>
                </div>
                <ul class="flex-container">
                    <li class="navi-list footer-items">
                        <a target="" href="mailto:mail@rbeny.de">
                            Kontakt
                        </a>
                    </li>
                    <li class="navi-list footer-items">
                        <a target="" href="impressum.html">
                            Impressum
                        </a>
                    </li>
                </ul>
            </footer>
    </div>

</body>
</html>
