#profile {
  float: right;
}

#profile-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 20px 50px;
}