/* ------------------------- */
/* General */
/* ------------------------- */

input, select {
  width: 150px;
  font: normal 14px 'Poppins', sans-serif;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  input, select {
    width: 116px;
  }
}


/* ------------------------- */
/* Banner */
/* ------------------------- */

#banner_wrapper {
  grid-area: banner;
  z-index: 1;
  width: 100%;
  height: 500px;
  background-size: cover;
  border: 2px solid red;
}


#banner_wrapper.result {
  height: 820px;
}

@media screen and (min-width: 768px) {
  #banner_wrapper {
    height: 660px;
  }

  #banner_wrapper.result {
    height: 1020px;
  }

}

/* grid-areas banner */
#banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 160px 230px 1fr;
  grid-template-areas:
          "txt"
          "form"
          "space";
  border: 2px solid yellow;
  height: 100%;
}

#banner.result {
  grid-template-rows: 1fr 540px 1fr;
}

@media screen and (min-width: 700px) {
  #banner {
    grid-template-rows: 1fr 230px 1fr;
  }
  #banner.result {
    margin: 30px;
  }
}

@media screen and (min-width: 767px) {
  #banner.result {
    grid-template-rows: 1fr 640px 1fr;
  }
}

@media screen and (min-width: 1920px) {
  #banner.result {
    grid-template-rows: 1fr 480px 1fr;
    margin: 0
  }
}


.text-banner {
  grid-area: txt;
  margin: auto;
  color: #996f34;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .text-banner {
    width: 100vw;
    margin-left: 10px;
  }
}

.space-wrapper {
  grid-area: space;
  position: relative;
}

.space {
  background: linear-gradient(180deg, rgba(248, 247, 251, 0) 0%, white 100%);
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.form-banner {
  grid-area: form;
  margin: 0px auto 40px;;
  background: white;
  padding: 40px;
  opacity: 0.8;
  height: 100%;
  padding: 10px 10px 10px 0;
}

@media screen and (min-width: 700px) {
  .form-banner {

  }
}

/* defining form search and active state */
.form {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "city" "country" "date" "type" "btn";
  border: 2px solid yellow;
}

@media screen and (max-width: 767px) {
  .form {
    width: 300px;
  }
}

.form.result {
  width: 600px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px 40px 40px 1fr 1fr 1fr;
  grid-template-areas: "pic city" "pic country" "pic date" "notes type" "notes countdown" "packlist weather" "btn btn";
  border: 2px solid yellow;
  grid-row-gap: 5px;
}

@media screen and (max-width: 767px) {
  .form.result {
    width: 100vw;
    height: 460px;
    grid-template-rows: 40px 40px 40px 40px 80px 140px 1fr;
  }
}


/* grid-areas form */

.form_element.city {
  grid-area: city;
}

.form_element.country {
  grid-area: country;
}


.form_element.date {
  grid-area: date;
}

.form_element.category {
  grid-area: type;
}

.form_element.image-holder {
  grid-area: pic;
}

.form_element.notes {
  grid-area: notes;
  margin-left: 10px;
  position: relative;
}

.form_element.countdown {
  grid-area: countdown;
}

.form_element.packlist {
  grid-area: packlist;
  margin-left: 10px;
  position: relative;
}

.form_element.weather {
  grid-area: weather;
}

/* layout form fields */

.form.result > .form_element, .form.result > .form-output {
  line-height: 15px;
  padding: 0 0 10px 0;
}


.form_element.image-holder > img {
  border-radius: 10px 10px;
  box-shadow: 1px 1px 10px 1px white;
  width: 160px;
  height: 100px;
  margin-left: 10px;
}

.form_element .weather_icon {
  width: 90px;
  height: 60px;
}

.label-left {
  display: block;
  margin: 10px 15px;
}

.input-left.open {
  display: block;
  height: 60px;
}

.input-packlist {
  height: 20px;
}


/* layout buttons */

.btn {
  grid-area: btn;
  display: flex;
}

.btn button {
  width: 180px;
  height: 25px;
  margin: 20px 10px 0 10px;
  background-color: green;
  border-radius: 5px 5px;
  box-shadow: 1px 1px 10px 1px green;
  border-color: lightgreen;
  color: white;
}

.btn button:hover {
  color: black;
}

.delete-item {
  cursor: pointer;
  position: absolute;
  right: 20px;
  color: red;
}

.add-item {
  width: 15%;
  background-color: green;
  border-radius: 5px 5px;
  box-shadow: 1px 1px 10px 1px green;
  border-color: lightgreen;
  color: white;
}

.add-item:hover {
  color: black;
}

