
/* ------------------------- */
/* Cards */
/* ------------------------- */

.cards {
  height: 100%;
  width: 100%;
  margin: 40px;
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}

@media screen and (max-width: 767px) {
  .cards {
    display:block;
    margin: 5px;
  }
}

.card-box {
  height: 420px;
  width: 360px;
  border-radius: 50px 50px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.property-card
{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  position:relative;
  border-radius:16px;
  overflow:hidden;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

/* Top Half of card, image. */

.property-image
{
  height:35%;
  width:100%;
  position:Absolute;
  top:0px;
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:65%;
  width:100%;
  position:absolute;
  bottom:0em;
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-align:center;
}

/* Property Cards Hover States */

.property-card:hover .property-image
{
  height:0;
  padding:0px 1em;
}

.property-description > h5
{
  margin: 0;
}
.property-description > p
{
  margin: 0;
  font-size: 12px;
  line-height: 15px;
}

.property-card:hover .property-description
{
  height:100%;
}

@media screen and (min-width: 1280px) {
  .property-description > h5
  {
    margin: 10px;
  }
  .property-description > p
  {
    margin: 0;
    font-size: 22px;
    line-height: 32px;
  }
}
