/* ------------------------- */
/* Footer */
/* ------------------------- */

footer {
  padding: 20px 0;
  background-color: #272727;
  border: 2px solid yellow;
}

footer > .flex-container {
  justify-content: center;
  list-style-type: none;
}

.share-items {
  padding: 0 20px;
}

.fab {
  color: white;
}

.footer-items > a {
  text-decoration: none;
  color: white;
  padding: 0 50px;
}

@media screen and (min-width: 900px) {
.share-items {
  padding: 0 50px;
}
}
