/* ------------------------- */
/* Header */
/* ------------------------- */

header {
  background-color: #272727;
  padding: 10px 0 40px 0;
}

ul.first-level-navi {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  height: 12%;
  align-items: center;
  margin: 0;
}

.first-level-navi > a {
  color: white !important;
  padding: 0 20px;
}

.header-image {
  height: 70%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0 10px;
}

@media screen and (max-width: 900px) {
  ul.first-level-navi {
    padding: 10px;
  }

  .first-level-navi > a {
    padding: 0 10px;
  }

  .header-image {
    height: 60%;
  }

}
