/* ------------------------- */
/* Sidebar */
/* ------------------------- */

#sidebar > .flex-container {
  position: sticky;
  top: 0;
}

ul > .second-level-navi {
  margin-left: 25px;
  color: black;
}

#profile {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-left: 35px;
  width: 46%;
}

#profile-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* element positioning and style */
  position: relative;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  background-color: inherit;
  margin: 0 10px;
  font: normal 22px "Crimson Pro", serif;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 700px) {

#profile {
  display: none
}

#sidebar > .flex-container {
  display: block;
}

}

@media screen and (max-width: 900px) {

#sidebar > .flex-container > ul {
  width: 100%;
  padding: 0 15px;
  margin: 0;
}

li.second-level-navi {
  margin: 0;
}

ul.second-level-navi > h3 {
  display: none
}

.dropdown .dropbtn {
  margin: 0;
}

}

@media (max-width: 1919px) {
#sidebar {
  height: 70px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

ul.second-level-navi > h3 {
  margin: 0;
}

ul.second-level-navi {
  display: flex;
  list-style-type: none;
}

li.second-level-navi {
  text-decoration: none;
}

#profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  top: 15px;
  margin-left: 15px;
}
}

@media screen and (min-width: 1920px) {
#sidebar > .flex-container {
  flex-direction: column;
}

.flex-container > ul.second-level-navi {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  color: black;
}

li.second-level-navi {
  padding: 20px 0;
}

#profile {
  justify-content: center;
  flex-direction: column;
}

#profile {
  width: 150px;
  height: 200px;
}

#profile-img {
  width: 150px;
  height: 150px;
  border-radius: 20px 50px;
}
}


